body{

font-family:Arial;

margin:20px;

}

h1{

color:darkblue;

}

h2{

color:green;

}

li{

margin:8px;

font-size:18px;

}

span{

margin-left:20px;

font-weight:bold;

color:red;

}

hr{

margin-top:20px;

margin-bottom:20px;

}